<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console "normal" -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="ELASTIC_URL" value="${ELASTICSEARCH_URL:-http://localhost:9200}" />
    <!-- Appender custom que manda pro Elasticsearch -->
    <appender name="ELASTIC_HTTP" class="com.vibranium.inventory.config.log.ElasticsearchHttpAppender">
        <url>${ELASTIC_URL}/inventory_service/_doc</url>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ELASTIC_HTTP" />
    </root>

</configuration>